<html>
<title>Tran's Book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container w3-padding-15" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Đăng nhập tài khoản</h3>
     {% if message %} {{message}} {% endif %}
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <p> Bạn chưa có tài khoản? <a href="{% url 'Book:register' %}">Chọn vào đây</a> để đăng kí.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" id="id_username" placeholder="Tài khoản" name="username">
      <input class="w3-input w3-section w3-border" id="id_password" type="password" placeholder="Mật khẩu" required name="password">
      
      <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Xác nhận</button>
                                </div>
                            </div>
    </form>
  </div>
</html>  